-
  var common = {
    index : {
      key:    'index',
      title : 'index_title',
    },
    page : {
      key:    'page',
      title : 'page_title',
    },
  }

- var assets_dir = '/assets';
- var image_dir = '/assets/images';